<div class="main">
    <div class="shop_top">
        <div class="container">
            <div class="row team_box">
                <h3 class="m_2">About us</h3>
                <p>This site created by Dan Gleyzer and Nitzan Massad.<br>
                    You can find more details about us on our
                    personal sites that appear under the section of "PREVIOUS WORKS" .<br>
                    Also under this section you will find link to our PacMan Online Game.
                </p>

            </div>
            <div class="row">
                <div class="col-md-4 team_bottom">
                    <ul class="team_list">
                        <h4>Previous Works</h4>
                        <li><a href="https://dangleyzer.000webhostapp.com/">Dan`s Personal Site</a></li>
                        <li><a href="https://nitzan-massad.000webhostapp.com/">Nitzan`s Personal Site</a></li>
                        <li><a href="https://danglz.github.io/PacMan.io/">PacMan Game Site</a></li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <ul class="team_list">
                        <h4>About the site</h4>
                        <p >This site was created as part of assignment to develop Online Shop (e-commerce).<br>
                            This site based on clinet-server architecture where the client implemented in Angular and
                            the server implemented in NodeJS using Microsoft Azure Cloud SQL Database.
                            <br>
                            The hard part of this assignments was to reduce the number of calls to the server, to allow
                            the costumer smooth stay in the site without waiting for uploading each page.
                            Also it was the first time we develop client side using Angular that provide
                            a huge possibilities that we are not familiar with them , but we discovered them :) .
                        </p>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>