<div class="main">
    <div class="shop_top">
        <div class="container">
            <div class="row team_box">
                <h3 class="m_2">About us</h3>

            </div>
            <div class="row">
                <div class="col-md-4 team_bottom">
                    <ul class="team_list">
                        <h4>Previous Works</h4>
                        <li><a href="https://dangleyzer.000webhostapp.com/">Dan`s Personal Site</a></li>
                        <li><a href="https://nitzan-massad.000webhostapp.com/">Nitzan`s Personal Site</a></li>
                        <li><a href="https://danglz.github.io/PacMan.io/">PacMan Game Site</a></li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <ul class="team_list">
                        <h4>About the site</h4>
                        <p ></p>
                        <img src="images/team5.jpg" class="img-responsive" alt=""/>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>