
<link href="../css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="../css/style.css" rel='stylesheet' type='text/css' />


<div class="main" ng-controller="cartController as CRTC" ng-model="CRTC.cartList">


    <input type="button" value="Previous Purchases" style="float: right;  font-size: 22px;  background-color: black; border: white;
    color: white; margin: 0.5% " ng-click="CRTC.moveToPreviousPurchases()">
        <h3 align="left">Total cost : {{CRTC.totalCost}}$</h3>

    
    <div class="shop_top">
        <div class="container">
        <div ng-show="!CRTC.cartEmpty">
            <label >Search Drink: </label>
                 <input type="text" ng-model="CRTC.filterBy">
            <label> Filter by Category: </label>
            <select ng-model="CRTC.SelectedCategory"
                    ng-options="c.label for c in CRTC.categories">
            </select>
            <label> Filter by Country: </label>
            <select ng-model="CRTC.SelectedCountry"
                    ng-options="c.label for c in CRTC.country">
            </select>
        </div>
            <br>
            <div ng-show="CRTC.cartEmpty" align="center">
                <h1>Your cart is empty</h1>
            </div>
            <div class="row shop_box-top">
                <!-- All products-->
                <div class="col-md-3 shop_box" ng-repeat="p in CRTC.itemInCart | filter : {CategoryName:CRTC.SelectedCategory.category ,Country:CRTC.SelectedCountry.category } |
                filter : CRTC.filterBy| orderBy: CRTC.propertyName : reverse" >
                    <img ng-src="{{p.Image}}" class="img-responsive" alt=""/>
                        <div class="shop_desc">
                            <label>{{p.DrinkName}}</label>
                            <p>{{p.Description}} </p>
                            <span class="actual" >Category: {{p.CategoryName}} </span><br>
                            <span class="actual" >Country: {{p.Country}} </span><br>
                            <span class="actual">Price: {{p.Price}}</span><br>
                            <span class="actual">Quantity:
                                <label>{{p.amount}}</label>
                            </span><br>
                            <ul class="buttons">
                                <li class="cart" ng-click="CRTC.deleteFromCart(p)"><a href="">Delete</a></li>
                                    <li class="shop_btn" ng-click="CRTC.showMore(p)"><a href="">Read More</a> </li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                </div>

            </div>
            <input type="button" value="Buy now" style="float: right;  font-size: 22px;  background-color: black; border: white;
    color: white; " ng-click="CRTC.moveToPurchases()">

        </div>

    </div>
    <footer>


        <h2 align="center"> Total cost : {{CRTC.totalCost}}$</h2>

    </footer>
</div>






