
<div  ng-controller="cartController as CRTC" ng-model="CRTC.cartList">
    <div >
        <table>
            <tr>
                <th>

                </th>
                <th>
                    <button ng-click="sortBy('DrinkName')">DrinkName</button>
                    <span  ng-show="CRTC.propertyName === 'DrinkName'" ng-class="{reverse: reverse}"></span>
                </th>
                <th>
                    <button ng-click="sortBy('CategoryName')">Category</button>
                    <span  ng-show="CRTC.propertyName === 'CategoryName'" ng-class="{reverse: reverse}"></span>
                </th>

                <th>
                    <button ng-click="sortBy('Price')">Price</button>
                    <span  ng-show="CRTC.propertyName === 'Price'" ng-class="{reverse: reverse}"></span>
                </th>
                <th>
                    <button ng-click="sortBy('StockAmount')">StockAmount</button>
                    <span  ng-show="CRTC.propertyName === 'StockAmount'" ng-class="{reverse: reverse}"></span>
                </th>
            </tr>
            <tr ng-repeat="p in CRTC.itemInCart | filter : CRTC.filterBy |orderBy: CRTC.propertyName : reverse">
                <td><img class="item_img_allProducts" ng-src="{{src}}" height="42" width="42"></td>
                <td>{{p.DrinkName}}</td>
                <td>{{p.CategoryName}}</td>
                <td>{{p.Price}}</td>
                <td>{{p.amount}}</td>
                <td><button  ng-click="CRTC.deleteFromCart(p)"> X </button></td>

            </tr>
        </table>

    </div>
    <footer>
        <h3>total cost : {{CRTC.totalCost}}</h3>

    </footer>
</div>