<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<head>

</head>
<body>
<div  ng-controller="productDetailsController as PDC" background-color="green" >

        <img ng-src="{{src}}"  alt=""/>
        <span>
						<span >Recommended</span>
					</span>
        <div >
            <h3>{{PDC.product.DrinkName}}</a></h3>
            <p>{{PDC.product.Description}} </p>
            <span >Category: {{PDC.product.CategoryName}} </span><br>
            <span>Price: {{PDC.product.Price}}</span><br>
            <span >Available Stock: {{PDC.product.StockAmount}}</span><br>
            <span >Description: {{PDC.product.Description}}</span><br>
            <span ng-show="PDC.product.amount>0" >Amount orders: {{PDC.product.amount}}</span><br>
            <span >Country: {{PDC.product.Country}}</span><br>
            <span >ABV: {{PDC.product.ABV}}</span><br>
            <span >Type: {{PDC.product.Type}}</span><br>


            <ul >
                <li  ng-click="PDC.addToCart(PDC.product)" ng-show="PDC.product.amount==0"><a >Add To Cart</a></li>
                <li  ng-click="PDC.deleteFromCart(PDC.product)" ng-show="PDC.product.amount>0"><a >Delete from Cart</a></li>

                <div > </div>
            </ul>
        </div>
</div>
</body>
</html>