<div class="main" ng-controller="passwordRetrieveController as pwdRetrieveCtrl">
    <div class="shop_top">
        <div class="container">
            <div class="col-md-6">
                <div class="login-title">
                    <h4 class="title">Password Retrieve</h4>
                    <div id="loginbox" class="loginbox">
                        <form  method="post" name="login" id="login-form">
                            <fieldset class="input">
                                <p id="login-form-username">
                                    <label for="modlgn_username">username</label>
                                    <input  type="text" name="email" class="inputbox" size="18" ng-model="pwdRetrieveCtrl.passwordRetDetails.UserName">
                                </p>
                                <p >
                                    <label for="modlgn_passwd">{{pwdRetrieveCtrl.question_1}}</label>
                                    <input ng-model="pwdRetrieveCtrl.passwordRetDetails.AnswersQ1" type="password" name="password" class="inputbox" size="18" autocomplete="off">
                                </p>
                                <p >
                                    <label for="modlgn_passwd">{{pwdRetrieveCtrl.question_2}}</label>
                                    <input ng-model="pwdRetrieveCtrl.passwordRetDetails.AnswersQ2" type="password" name="password" class="inputbox" size="18" autocomplete="off">
                                </p>
                                <div class="remember">

                                    <input type="submit" ng-click="pwdRetrieveCtrl.submit()"  class="button" value="submit"><div class="clear"></div>
                                </div>
                                <div ng-show="pwdRetrieveCtrl.correctDetails">
                                    <br>
                                    Your password is :{{pwdRetrieveCtrl.retrievedPassword}}
                                </div>
                                <div ng-show="pwdRetrieveCtrl.wrongDetails">
                                    <br>
                                    Sorry, Wrong details.. <br/>
                                    Please try again!
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>