
<div class="password-container" ng-controller="passwordRetrieveController as pwdRetrieveCtrl">
    <h2>Password Retrieve</h2>
    <div>
        Enter your username: <input type="text" ng-model="pwdRetrieveCtrl.passwordRetDetails.UserName"> <br/>

        {{pwdRetrieveCtrl.question_1}}<br/>
        Enter your answer: <input type="text" ng-model="pwdRetrieveCtrl.passwordRetDetails.AnswersQ1"><br/>
        {{pwdRetrieveCtrl.question_2}}<br/>
        Enter your answer: <input type="text" ng-model="pwdRetrieveCtrl.passwordRetDetails.AnswersQ2"><br/>
        <button ng-click="pwdRetrieveCtrl.submit()">Submit</button>
        <br/>
        <div ng-show="pwdRetrieveCtrl.correctDetails">
            Your password is :{{pwdRetrieveCtrl.retrievedPassword}}
        </div>
        <div ng-show="pwdRetrieveCtrl.wrongDetails">
            Sorry, Wrong details.. <br/>
            Please try again!
        </div>


    </div>
</div>