<link href="../css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="../css/style.css" rel='stylesheet' type='text/css' />

<div class="main" ng-controller="homePageProductsController as ProductsCtrl">
    <div class="shop_top">
        <div class="container">
            <!--
            <button ng-click="sortBy('DrinkName')">DrinkName</button>
            <button ng-click="sortBy('Description')">Description</button>
            -->
            <div class="row shop_box-top">
                <div class="col-md-3 shop_box" ng-repeat="p in ProductsCtrl.topFiveProducts |orderBy: ProductsCtrl.propertyName : reverse"  >
                        <img ng-src={{p.Image}} class="img-responsive" alt=""/>

                        <span class="sale-box">
						<span class="sale-label">HOT</span>
					</span>
                        <div class="shop_desc">
                            <label>{{p.DrinkName}}</label>
                            <p>{{p.Description}} </p>
                            <span class="actual" >Category: {{p.CategoryName}} </span><br>
                            <span class="actual" >ABV: {{p.ABV}} </span><br>
                            <span class="actual">Price: {{p.Price}}</span><br>
                            <span class="actual">Available Stock: {{p.StockAmount}}</span><br>
                            <span ng-show="ProductsCtrl.isLoggedIn" class="actual">Quantity:
                            <input type="text" name="getInvitAmount" ng-model="p.amount" value="1" size="2"   class="quantity-box"  ng-init="p.amount='1'">
                        </span><br>
                            <ul class="buttons">
                                <li class="cart" ng-click="ProductsCtrl.addToCart(p)"><a href="" ng-show="ProductsCtrl.isLoggedIn">Add To Cart</a></li>
                                <li class="shop_btn" ng-click="ProductsCtrl.ReadMore(p)"><a href="">Read More</a></li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                    </div>
                <!-- New products-->
                <div class="col-md-3 shop_box" ng-show="ProductsCtrl.isLoggedIn" ng-repeat="p in ProductsCtrl.newestProducts |orderBy: ProductsCtrl.propertyName : reverse"  >

                        <img ng-src="{{p.Image}}" class="img-responsive" alt=""/>
                        <span class="new-box">
						<span class="new-label">New</span>
					</span>
                        <div class="shop_desc">
                            <label>{{p.DrinkName}}</label>
                            <p>{{p.Description}} </p>
                            <span class="actual" >Category: {{p.CategoryName}} </span><br>
                            <span class="actual" >ABV: {{p.ABV}} </span><br>
                            <span class="actual">Price: {{p.Price}}</span><br>
                            <span class="actual">Available Stock: {{p.StockAmount}}</span><br>
                            <span class="actual">Quantity:
                            <input type="text" name="getInvitAmount" ng-model="p.amount" value="1" size="2"   class="quantity-box"  ng-init="p.amount='1'">
                        </span><br>
                            <ul class="buttons">
                                <li class="cart" ng-click="ProductsCtrl.addToCart(p)"><a href="" >Add To Cart</a></li>
                                <li class="shop_btn"  ng-click="ProductsCtrl.ReadMore(p)"><a href="">Read More</a></li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>







<!--old Home page-->
<!--old Home page

<link rel="stylesheet" type="text/css" href="stylesheets/style.css">

<div ng-controller="homePageProductsController as ProductsCtrl">
<div>
    <b>Hot products!!</b>
    <br>
    <table class = "table_design_getAllProducts">
        <tr>
            <th>

            </th>
            <th>
                <button ng-click="sortBy('DrinkName')">DrinkName</button>
                <span  ng-show="ProductsCtrl.propertyName === 'DrinkName'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <button ng-click="sortBy('CategoryName')">Category</button>
                <span  ng-show="ProductsCtrl.propertyName === 'CategoryName'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <button ng-click="sortBy('Type')">Type</button>
                <span  ng-show="ProductsCtrl.propertyName === 'Type'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <button ng-click="sortBy('Year')">Year</button>
                <span  ng-show="ProductsCtrl.propertyName === 'Year'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <button ng-click="sortBy('Country')">Country</button>
                <span  ng-show="ProductsCtrl.propertyName === 'Country'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <button ng-click="sortBy('ABV')">ABV</button>
                <span  ng-show="ProductsCtrl.propertyName === 'ABV'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <button ng-click="sortBy('Description')">Description</button>
                <span  ng-show="ProductsCtrl.propertyName === 'Description'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <button ng-click="sortBy('Price')">Price</button>
                <span  ng-show="ProductsCtrl.propertyName === 'Price'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <button ng-click="sortBy('StockAmount')">StockAmount</button>
                <span  ng-show="ProductsCtrl.propertyName === 'StockAmount'" ng-class="{reverse: reverse}"></span>
            </th>
        </tr>
        <tr ng-repeat="p in ProductsCtrl.topFiveProducts |orderBy: ProductsCtrl.propertyName : reverse">
            <td><img class="item_img_allProducts" ng-src="{{src}}"></td>
            <td>{{p.DrinkName}}</td>
            <td>{{p.CategoryName}}</td>
            <td>{{p.Type}}</td>
            <td>{{p.Year}}</td>
            <td>{{p.Country}}</td>
            <td>{{p.ABV}}</td>
            <td>{{p.Description}}</td>
            <td>{{p.Price}}</td>
            <td>{{p.StockAmount}}</td>
            <td><input type="text" name="getInvitAmount" ng-model="p.amount" value="1" size="3"   ng-init="p.amount='1'"></input></td>
            <td><button class="add_to_cart" ng-click="ProductsCtrl.addToCart(p)">add to cart </button></td>
        </tr>
    </table>
</div>

<div ng-show="ProductsCtrl.isLoggedIn">
    <b>Newest products!!</b>
    <br>
    <table class = "table_design_getAllProducts">
        <tr>
            <th>

            </th>
            <th>
                <button ng-click="sortBy('DrinkName')">DrinkName</button>
                <span  ng-show="ProductsCtrl.propertyName === 'DrinkName'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <button ng-click="sortBy('CategoryName')">Category</button>
                <span  ng-show="ProductsCtrl.propertyName === 'CategoryName'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <button ng-click="sortBy('Type')">Type</button>
                <span  ng-show="ProductsCtrl.propertyName === 'Type'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <button ng-click="sortBy('Year')">Year</button>
                <span  ng-show="ProductsCtrl.propertyName === 'Year'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <button ng-click="sortBy('Country')">Country</button>
                <span  ng-show="ProductsCtrl.propertyName === 'Country'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <button ng-click="sortBy('ABV')">ABV</button>
                <span  ng-show="ProductsCtrl.propertyName === 'ABV'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <button ng-click="sortBy('Description')">Description</button>
                <span  ng-show="ProductsCtrl.propertyName === 'Description'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <button ng-click="sortBy('Price')">Price</button>
                <span  ng-show="ProductsCtrl.propertyName === 'Price'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <button ng-click="sortBy('StockAmount')">StockAmount</button>
                <span  ng-show="ProductsCtrl.propertyName === 'StockAmount'" ng-class="{reverse: reverse}"></span>
            </th>
        </tr>
        <tr ng-repeat="p in ProductsCtrl.newestProducts |orderBy: ProductsCtrl.propertyName : reverse">
            <td><img class="item_img_allProducts" ng-src="{{src}}"></td>
            <td>{{p.DrinkName}}</td>
            <td>{{p.CategoryName}}</td>
            <td>{{p.Type}}</td>
            <td>{{p.Year}}</td>
            <td>{{p.Country}}</td>
            <td>{{p.ABV}}</td>
            <td>{{p.Description}}</td>
            <td>{{p.Price}}</td>
            <td>{{p.StockAmount}}</td>
            <td><input type="text" name="getInvitAmount" ng-model="p.amount" value="1" size="3"   ng-init="p.amount='1'"></input></td>
            <td><button class="add_to_cart" ng-click="ProductsCtrl.addToCart(p)">add to cart </button></td>
        </tr>
    </table>





</div>
</div>

-->
